#topLevelContainer{
	padding:0px;
	margin:0px;
	height:100%;
	width:100%;
}
#infoBar{
	float:left;
	background-color: rgb(0, 184, 255);
	width: 209px;
	height: 98%;
	margin: 5px;
	border-radius: 5px;
	white-space: normal;
}
#collectionNameHolder{
	width: 90%;
	height:100%;
	float: left;
}
#addRow{
	position: fixed;
	top: 92%;
	left: 220px;
}
#addButton{
	margin-top: 5px;
}
#tableContainer{
	float:left;
	width: 83%;
}
#spreadsheet{
	left: 220px;
	top:0px;
	margin: 3px;
	border-radius:5px;
	border:none;
}
td{
	width: 53%;
	text-align: center;
	display:inline-block;
	background-color:white;
}
.SpreadsheetButton{
	border-radius:5px;
	background-color: #5cb85c;
}
.querySelector{
	width:100%;
	
}
.input-group-btn{
	
}
html, body{
	height: 100%;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    font-size: 0;